  body {
    font-family: "Cuprum", "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 0.8em;
    color: #32425c;
  }

  h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 0.8em;
    color: #000;
  }

  h3 {
    font-size: 36px;
    font-weight: normal;
    line-height: 0.8em;
  }

  h4 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2em;
    color: #fff;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .container {
    width: 960px;
    padding: 0 10px;
    margin-right: auto;
    margin-left: auto;
  }

  header {
    min-height: 320px;
    margin-bottom: 60px;
    background-color: #f1f5f7;
  }

  .header-top {
    height: 42px;
    background-color: #293449;
  }

  .logo {
    width: 220px;
    float: left;
  }

  .header-search-block {
    float: left;
    width: 550px;
    list-style: none;
  }

  .header-search-block a {
    text-decoration: none;
    color: #fff;
  }

  ul.header-search-block li {
    display: inline;
  }

  form.search {
    float: left;
  }

  .checkout {
    width: 150px;
    float: right;
    height: 42px;
  }

  a.btn-checkout {
    background-color: #63a63e;
    text-decoration: none;
    color: #fff;
  }

  .header-bottom {
    min-height: 278px;
    width: inherit;
  }

  .header-bottom-content {
    width: 300px;
    height: 148px;
    margin: 10px 0;
  }

  .header-bottom-content p {
    padding-left: 54px;
    margin-right: 20px;
  }

  .header-contacts {
    width: 300px;
    float: left;
    margin-right: 20px;
  }

  .user-block {
    width: 300px;
    float: right;
  }

  .main-navigation {
    min-height: 60px;
    background-color: #32425c;
    margin-bottom: 60px;
  }

  ul {
    list-style: none;
  }

  .main-navigation a {
    text-decoration: none;
    color: #ffffff;
  }

  .main-navigation ul {
    text-decoration: none;
  }

  .main-navigation li {
    display: inline;
    color: #ffffff;
    font-size: 17px;
  }

  .main-catalog-item {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    min-height: 124px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
  }

  .main-catalog-item:nth-child(3), .main-catalog-item:last-child {
    margin-right: 0;
  }

  .main-catalog-item:last-child {
    margin-bottom: 0;
  }

  .materials {
    background-color: #f6b22d;
    float: left;
  }

  .tools {
    background-color: #4aafde;
    float: left;
  }

  .technics {
    background-color: #cc79d1;
    float: right;
  }

  .slider {
    position: relative;
    box-sizing: border-box;
    width: 620px;
    height: 268px;
    float: left;
    margin-right: 20px;
    margin-bottom: 54px;
  }

  .slide-content {
    position: absolute;
    box-sizing: border-box;
    float: left;
    width: 100%;
    left: 25px;
    color: #fff;
  }

  .slide-1, .slide-2 {
    position: absolute;
    z-index: 1;
  }

  .slide-description p {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 0;
  }

  .slide-title h3 {
    line-height: 0;
  }

  .action-open-catalog {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  .btn {
    height: 38px;
    background-color: #ee3643;
    color: #fff;
  }

  .open-catalog {
    width: 195px;
  }

  .discounts {
    background-color: #85d179;
    float: right;
  }

  .delivery {
    background-color: #f6b22d;
    float: right;
    margin-bottom: 54px;
  }

  .populars {
    box-sizing: border-box;
    min-height: 90px;
    background-color: #f7f3ec;
    margin-bottom: 20px;
    float: left;
    width: 940px;
  }

  .popular-title {
    float: left;
    margin-left: 30px;
  }

  .catalog-item {
    display: inline-block;
    box-sizing: border-box;
    width: 220px;
    height: 318px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .catalog-item:last-child {
    float: right;
    margin-right: 0;
  }

  .popular-maker {
    border: 1px solid #e5e5e5;
    width: 220px;
    height: 144px;
  }

  .popular-maker:nth-child(-n+3), .popular-maker:nth-child(n+5):nth-child(-n+7) {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .popular-maker:nth-child(4), .popular-maker:last-child {
    float: right;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .popular-maker:last-child {
    float: right;
    margin-right: 0;
  }

  a.items {
    float: right;
    margin-left: 24px;
  }

  .services {
    min-height: 520px;
    background-color: #f2f6f8;
    margin-top: 85px;
  }

  .services-content {
    float: left;
    margin-top: 66px;
    margin-bottom: 30px;
    width: 100%;
  }

  .services-tabs {
    float: left;
    width: 240px;
    height: 280px;
    margin-right: 80px;
  }

  .services-slides {
    float: left;
  }

  .service-slide {
    position: absolute;
    z-index: 1;
  }

  .company {
    height: 538px;
  }

  .about-company {
    float: left;
    min-height: 370px;
    width: 560px;
    margin-top: 82px;
    margin-right: 80px;
  }

  .contacts {
    float: right;
    min-height: 370px;
    width: 300px;
    margin-top: 82px;
  }

  .catalog-item {
    height: 318px;
    width: 220px;
    border: 1px solid #e5e5e5;
  }

  .target-actions {
    display: none;
  }

  .catalog-item:hover .target-actions {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  .footer {
    height: 300px;
    background-color: #32425c;
    color: #fff;
  }

  .footer-logo {
    width: 222px;
    height: 68px;
    float: left;
    margin-bottom: 30px;
    margin-right: 170px;
  }

  .footer-nav-top {
    float: right;
    color: #fff;
  }

  .footer-nav-top li {
    display: inline;
  }

  .footer-nav-top a {
    color: #fff;
    text-decoration: none;
  }

  .footer-nav-bottom {
    float: right;
    color: #ffd180;
  }

  .footer-nav-bottom a {
    color: #ffd180;
    text-decoration: none;
  }

  .footer-contacts {
    float: left;
  }

  .footer-top {
    height: 152px;
    margin-bottom: 40px;
  }

  .footer-bottom {
    height: 108px;
    background-color: #293449;
  }

  .footer-copyright {
    float: left;
    width: 320px;
    margin-right: 60px;
  }

  .social-btn {
    float: left;
    width: 180px;
    margin-right: 100px;
  }

  .footer-feedback {
    float: left;
    margin-right: 30px;
    width: 160px;
  }

  .footer-website {
    float: right;
  }

  .modal {
    display: none;
  }
